modules:

  - name: symlink
    source: .git-completion.bash
    target: ~/.git-completion.bash
  
  - name: bashrc
    
  - name: ssh_keys

  - when:
      desktop_environment: gnome
    do:
      - name: gnome_sync