modules:

  - name: symlink
    source: .git-completion.bash
    target: ~/.git-completion.bash
  
  - name: bashrc
    
  - name: ssh_keys

  - when:
      desktop_environment: gnome
    do:
      - name: gnome_sync
        shortcut_exceptions:
          - binding: '<Shift><Control>F5'
          - binding: '<Shift><Control>F6'
          - binding: '<Shift><Control>F7'
          - binding: '<Shift><Control>F8'