modules:
  - name: copy
    source: .git-completion.bash
    target: ~/.git-completion.bash
  
  - name: bashrc
    
  - name: ssh_keys

  - when:
      host: gustavs-framework-laptop
    do:
      - name: copy
        source: mute_on_public_wifis.sh
        target: /etc/NetworkManager/dispatcher.d/
        ownership: root:root
        permissions: '755'

  - when:
      desktop_environment: gnome
    do:
      - name: gnome_sync
        shortcut_exceptions:
          - binding: '<Shift><Control>F5'
          - binding: '<Shift><Control>F6'
          - binding: '<Shift><Control>F7'
          - binding: '<Shift><Control>F8'