modules:
  - name: copy
    source: .git-completion.bash
    target: ~/.git-completion.bash
  
  - name: ssh_keys

  - when:
      either:
        - tag: laptop
        - host: gustavs-framework-laptop
    do:
      - name: copy
        source: mute_on_public_wifis.sh
        target: /etc/NetworkManager/dispatcher.d/
        ownership: root:root
        permissions: '755'

  - when:
      desktop_environment: gnome
    do:
      - name: gnome_sync
        shortcut_exceptions:
          - binding: '<Shift><Control>F5'
          - binding: '<Shift><Control>F6'
          - binding: '<Shift><Control>F7'
          - binding: '<Shift><Control>F8'
  - when:
      either:
        - tag: proxmox
        - not:
            desktop_environment: unknown
    do:
      - name: git_clone
        url: https://github.com/Abragus/connect
        path: ~/.local/share/connect
        absolute_path: true
      - name: symlink
        source: connections.txt
        target: ~/.local/share/connect/connections.txt
      - name: edit_file
        file: .bashrc
        modifications:
          - add: "alias con=\"~/.local/share/connect/connections.sh\""
          
  - name: symlink
    source: .bashrc
    target: ~/.bashrc