modules:
  - when:
      install_dir: /opt/syncsmith
    do:
      - name: symlink
        source: /opt/syncsmith/syncsmith.sh
        target: /usr/local/bin/syncsmith
      - name: copy
        source: systemd/syncsmith.service
        target: /etc/systemd/system/syncsmith.service
        ownership: root:root
        permissions: '644'
      - name: copy
        source: systemd/syncsmith.timer
        target: /etc/systemd/system/syncsmith.timer
        ownership: root:root
        permissions: '644'
      - name: systemctl_exec
        command: "daemon-reload"
      - name: systemctl_exec
        command: "enable --now syncsmith.timer"

  - name: curl
    url: https://raw.githubusercontent.com/git/git/refs/heads/master/contrib/completion/git-completion.bash
    path: ~/.git-completion.bash
  
  - name: ssh_keys

  - when:
      either:
        - tag: laptop
        - host: gustavs-framework-laptop
    do:
      - name: copy
        source: mute_on_public_wifis.sh
        target: /etc/NetworkManager/dispatcher.d/
        ownership: root:root
        permissions: '755'

  - when:
      desktop_environment: gnome
    do:
      - name: gnome_sync
        shortcut_exceptions:
          - binding: '<Shift><Control>F5'
          - binding: '<Shift><Control>F6'
          - binding: '<Shift><Control>F7'
          - binding: '<Shift><Control>F8'
      - name: symlink
        source: gtk-config/*
        target: ~/.config/gtk-3.0/
      - name: symlink
        source: gtk-config/*
        target: ~/.config/gtk-4.0/
        
  - when:
      either:
        - tag: proxmox
        - not:
            desktop_environment: unknown
    do:
      - name: git_clone
        url: https://github.com/Abragus/connect
        path: ~/.local/share/connect
      - name: symlink
        source: connections.txt
        target: ~/.local/share/connect/connections.txt
      - name: edit_file
        file: .bashrc
        modifications:
          - add: "alias con=\"~/.local/share/connect/connections.sh\""
          
  - name: symlink
    source: .bashrc
    target: ~/.bashrc