/* window */
body {
    border-radius: 0;
}
.win.normal #tabs-tabbar-container.top, .linux.normal #tabs-tabbar-container.top {
    padding-top: 5px;
    padding-right: 0px;
}

/* SVG disposition */
button.window-minimize svg {
    transform: translate(-1px, 0px);
}
button.window-close svg, button.window-maximize svg {
    transform: translate(-1px, 0);
}

/* Layout of buttons */
#browser.linux .window-buttongroup button svg {
    /* Button icons */
    display: none;
    z-index: 2;
    fill: black;
    opacity: 0.75;
    height: 9px !important;
}

#browser.linux .window-buttongroup button {
    margin: 0 8px 0 3px;
}

#browser.linux .window-buttongroup button.window-close {
    margin-right: 4px !important;  /* or 0px if you want it tight */
}

#browser.linux #titlebar {
    height: 100%;
}
#browser.linux .window-buttongroup {
    -webkit-app-region: no-drag;
    height: 100%;
    margin: 0;
    padding: 7px 0px 7px 6px;
}
.stacks-off.fullscreen#browser.linux .window-buttongroup, .tabs-at-edge#browser.linux .window-buttongroup {
    margin: 0;
    padding-top: 4px;
}
#browser.linux .window-buttongroup button,  #browser.linux .window-buttongroup button:hover {
    height: 19px;
    width: 19px;
    opacity: 0.2;
    background-color: var(--colorFg);
    border: none;
    box-shadow: none;

    border-radius: 100%;
    transition-duration: 150ms;
    transition-property: margin, height, border-radius;
}
:not(.fullscreen).hasfocus#browser.linux .window-buttongroup.graphite button.window-minimize, .hasfocus#browser.linux .window-buttongroup.graphite button.window-maximize, .hasfocus#browser.linux .window-buttongroup.graphite button.window-close {
    opacity: 0.25;
    /* background-color: #8e8e93; */
    background-color: #FFFFFF;
    /* border-color: #727277; */
}
:not(.fullscreen).hasfocus#browser.linux .window-buttongroup:not(.graphite) button.window-minimize {
    opacity: 1;
    background-color: #E6C029;
    /* border-color: #dc9e34; */
}
.hasfocus#browser.linux .window-buttongroup:not(.graphite) button.window-maximize {
    opacity: 1;
    background-color: #53C22B;
    /* border-color: #1fa42d; */
}
.hasfocus#browser.linux .window-buttongroup:not(.graphite) button.window-close {
    opacity: 1;
    background-color: #FF5A52;
    /* border-color: #de4947; */
}

/* Animation */
#browser.linux .window-buttongroup button:hover svg {
    display: block;
}
